body {
	background-image: url("../../images/beebole-pattern.jpg");
	background-position: center;
	background-repeat: repeat;
	background-attachment: fixed;

}

header {
	padding: 0;
}

p{
	font-size: 20px;
}

h2 {
	font-weight: bold;	
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, #secnav a {
	color: #333;
	#text-shadow: rgba(50, 50, 50, .3) 1px 1px 3px;
	text-shadow: rgba(99, 99, 99, .3) 1px 1px 3px;
}

::selection {
	background: #ccc;
	color: #333;
}

.narrowcolumn {
	background: white;
}


.arc {
	font-size: 16px;
	padding: 20px;
	#background: #F2F2F2;
	background-color: #708090;
	border: 1px white solid;
	#box-shadow: 0 1px 10px #58B1B9;
    -moz-box-shadow:0px 2px 5px #58B1B9; -webkit-box-shadow:0px 2px 5px #58B1B9; box-shadow:0px 0px 5px #58B1B9;
	text-shadow: 0 1px 1px white;
}

.inner {
	#background-color: #F8F8F8;
	background-color: #C7EDCC;
	border: 1px #F2F3F3 solid;
	padding: 20px;
}

footer {
	background-color: transparent;
}

.pre:after{ content: "\2190"; }
.nxt:before{ content: "\2192"; }
.mid-btn-left, .mid-btn-right {
    position: fixed;
    bottom: 220px;
    z-index: 999;
    color: #0099ff;
    margin: 30px;
    padding: 40px;
    text-align: left;
	font-size: 30px;
	font-weight: bold;	
}
.mid-btn-left { left: -170px; }
.mid-btn-right { right: -170px; }

.mid-btn-left a, .mid-btn-right a {
    margin: 30px;
    padding: 40px;
	font-size: 30px;
	font-weight: bold;	

    -moz-box-shadow: 0px 0px 1px #0099ff;
    -webkit-box-shadow: 0px 0px 1px #0099ff;
    box-shadow: 0px 0px 1px #0099ff;

	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	border-radius: 85px;
}

.mid-menu-left {
    position: fixed;
    bottom: 480px;
    z-index: 999;
    color: gray;
    padding: 40px;
    text-align: left;
	font-size: 15px;
	font-weight: bold;	
}

.mid-menu-left a {
    color: gray;
	background-color: transparent;
}

#nav{
    background: #333;
    background: rgba(30,30,30,0.9);
    border-bottom: solid 2px #00adef;
    height: 38px;
    line-height: 38px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 100;
	font-size: 16px;
}
#nav #nav_inner{
    max-width: 980px;
    margin: 0 auto;
}

#nav>div>ul{
    list-style: none outside none;
    margin: 0;
    padding-left: 90px;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

#nav>div>ul>li{
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    opacity: 1;
    -ms-filter: none;
    #background-color: rgba(30,30,30,0.9);
    #background-color: green;
    position: relative;
}
#nav li a{
    padding: 5px 15px;
    margin: 10px -8px;
    #background-color: blue;
}
#nav li ul{
    display: none;
    left: -40px;
    top: -4px;
    margin-top: 30px;
    line-height: 16px;
    width: 140px;
    position: absolute;
    background-color: #303030;
}

#nav li:hover ul { display:block;}

#nav li ul li{
    display: block;
    margin: 0px 10px; 
    padding: 5px 10px;
    border-top; dotted 1px #606060;
    list-style-type: none;
    color: #fff;
    #background-color: green;
}

#nav li ul li a{
    padding: 12px 55px 12px 0px;
    margin: 10px 0px;
    #background-color: blue;
}
#nav li ul li:first-child { border-top: none; }
#nav>div>ul>li:first-child +li+li+li+li{ padding-left: 280px; }

#nav form{
    float: right;
}
#nav form input{
    height: 25px;
    position: relative;
    top: 5px;
}
#nav form + ul{
    top: 5px;
    left: 262px;
    width: 185px;
}

#nav li:hover > a{
    #background-color: transparent;
    background-color: black;
}
#nav li ul li:hover > a{
    background-color: transparent;
}

#main {
    max-width: 780px;
    margin: 60px auto 0;
	color: #333;
}

.container {
    max-width: 630px;
    text-shadow: none; 
}
